<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
	  <link rel="stylesheet" href="{{ '/_layouts/includes/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/_layouts/src/main.js' | relative_url }}"></script>
    <script src="{{ '/_layouts/includes/script.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% include head-custom.html %}
  </head>
  <body>

      <header>
        <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
        <h3 id="UA">Running on:</h3>
      </header>

      <div id="banner">
        <span id="logo"></span>

        <a href="{{ site.github.repository_url }}" class="button fork"><strong>View On GitHub</strong></a>
        {% if site.show_downloads %}
          <div class="downloads">
            <span>Downloads:</span>
            <ul>
              <li><a href="{{ site.github.zip_url }}" class="button">ZIP</a></li>
              <li><a href="{{ site.github.tar_url }}" class="button">TAR</a></li>
            </ul>
          </div>
        {% endif %}
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>

        
          <div class="btn-container">
    <form id="kernel-options">
      <input type="radio" name="kernel" id="netctrl-exploit" value="netctrl">
      <label for="netctrl-exploit">NetCtrl</label>
      <input type="radio" name="kernel" id="lapse-exploit" value="lapse">
      <label for="lapse-exploit">Lapse</label>
    </form>
    <button id="jeilbrek">Jeilbrek</button>
    <div class="autoJb">
      <label for="autoJbInput" id="autoJbLabel">Auto Jailbreak</label>
      <input class="mt-2" id="autoJbInput" type="checkbox">
    </div>
  </div>
  <div class="row">
  <div class="main-layout">
    <div class="media-box">
      <img src="includes/cat.jpg" alt="A cat staring at you">

    </div>

		    <pre id="console">Ready. Awaiting execution...
  </pre>

 </div>
  </div>
        
        {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
          <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></small></p>
      </footer>
    </div>
  </body>
</html>
